*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: rgb(21, 21, 108);
    transition: 0.3ms;
}
ul{
    list-style:none;
  }
  img{
    max-width: 100%;
  }
  body{
    font-family: 'Lexend', sans-serif;
    font-size:16px;
    line-height:24px; 
    background-color:#e3be0461;
  }
  .container{
    width: 1170px;
    margin:auto;
  }


  <!---------------------header----------------------->
  
    .header-area{
        padding: 25px 0;
        transition: padding .3s;
      }
      .header-area.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #841717;
        padding: 5px;
      }
      
      .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
      }
      
      
      .header ul li:first-child {
        margin-right: auto; 
      }  
      
      .header ul{
        display: flex;
        align-items: center; 
      }
      .header ul li{
        margin: 0 25px;
      }
      .header ul li a{
        text-transform: capitalize;
        display: block;
      }
      .header ul li a.active{
        color: #141203;
      } 
      .header ul li a:hover{
        color:#ff1818b3;
      }
      .header .menu_icon{
        color:#fff;
        font-size: 15px;
        cursor: pointer;
        display: none;
      }

      <!-------------------Home-------------------->
      .FirstElement{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5rem; 
     } 
     
     .FirstElement.adjusted-padding {
       padding-top: 40px; 
     }
     
     .FirstElement .profile-photo{
       width: 300px;
       height:  300px;
       border-radius: 50%;
       overflow: hidden;
       border: 15px solid #c22626;
       box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
     }
     profile-photo .img{
       height: 100%;
       width: 100%;
       transition: 0.5s;
     }
     .FirstElement .profile-photo img:hover{
       transform: scale(1.2);
     }
     .profile-text{
       max-width: 750px;
       display: flex;
       flex-direction: column;
       
     }
     .profile-text h5{
       color: #100202;
       font-size: 20px;
       
     }
     .profile-text h1{
       color: #ff080c4b;
       font-size: 3rem; 
       margin-right: auto;
     }
     .profile-text p{
       color:#231d0b;
       align-items: flex-start;
     }
     
 /*---------------------------About---------------------------*/

 .about-area{
  padding-top: 130px;
  background-color: #100d0208;
  
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}
.about-content{
  flex-basis: 60%;
}
.about-content h4{
  color: hsl(52, 26%, 83%);
  font-size: 40px;
  line-height: 70px;
  text-transform: capitalize;
  
}
.about-content ul {
  color:rgba(237, 12, 12, 0.834);
  text-align: justify;
  
}

.about-content ul li {
  list-style-type: disc;
  margin-bottom: 10px;

  
}

.about-skills{
  flex-basis: 35%;
}
.about-skills ul li{
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: rgb(11, 4, 4);
  font-size: 18px;
  
}
.about-skills ul li:last-child{
  border-bottom: 2;
  padding-bottom: 2;
  margin-bottom: 2;
}




/*---------------------------Education & Internship---------------------------*/

.education-content .row{
  display: flex;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 250px;
}

.education-content .title{
  color: #121005;
}
.education-content .row .education,
.education-content .row .internship
{
  color: #d32020ed;
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 30px;
} 
.education-content  h3.title{
  font-size:24px;
  margin-bottom: 30px;
  font-weight: 700;
}
.education-content .row.timeline-box{
  flex:0 0 100%;
  max-width: 100%;  
}
.education-content .row .timeline{
  /* background-color:#e5e5e5; */
  padding: 30px 15px;
  border: 1px solid #b91515;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.education-content .row .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 50px; 
}
.education-content .row  .internship .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 30px; 
}
.education-content .row .timeline-item:last-child{
  padding-bottom: 0;
}
.education-content .row .timeline-item::before{
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #e08e15;  
}
.education-content .row .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e60c0c;
}
.education-content .row .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.education-content .row .internship .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
.education-content .row .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}



/*---------------------------Projects---------------------------*/
.project-content{
  padding: 90px 0;
  /* color:#fff;  */
}
.project-title{
  margin-bottom: 60px;
  text-align: center;
}
.project-title h4{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #050504;
  margin-bottom: 20px;
}
.project-title p{
  color: #b71d1d;
}
.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project{
    /* padding: 30px 15px; */
    color: #0f0f06b6;
    border: 2px solid #0e0202;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
}
.project i{
  background-color: #443b0886;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}
.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
}
.project p{
  text-align: justify;
}
.project:hover{
  border-color: #6809f6;
}



/*---------------------------Contact Me---------------------------*/
.contact-content{
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
.contact-content .contact-title h4{
  font-size: 40px;
  text-transform: capitalize;
  color: #c5a909;
  padding-bottom: 10px;
}
.contact-content .contact-title p{
  padding-bottom: 20px;
}
.contact{
  max-width: 700px;
  margin: auto;
}
.contact input,.contact textarea{
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.contact .submit{
  width: auto;
  background-color: #bfa619;
  padding: 10px 40px;
  font-weight:bold ;
  font-size: 18px;
}
.contact .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#msg{
  color: #fff;
  font-size: 20px;
  margin-top: -8px;
  display: block;
}






/*---------------------------Footer---------------------------*/
.footer {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px 0 26px;
    border-top: 1px solid rgba(203, 18, 18, 0.1); 
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .message {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    color: #bfa619;
  }
  
  .copyright {
    font-size: 20px;
    color: #c5a909;
  }




